<div id="presentation" class="car-container">
	{% if order == 'normal' %}
   		{% for i in range (numPages) %}
	    <div class="car-slide"> 
	      <svg height="{{ height }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
		  		<image x="0" y="0" height="{{ height }}" width="{{ width }}"  xlink:href="/{{ pres_dir }}/vortrag_{{ i }}.svg" />
		  </svg>
		</div >
		{% endfor %}
	{% endif %}
	{% if order == 'preview' %}
   		{% for i in range (1, numPages) %}
	    <div class="car-slide"> 
	      <svg height="{{ height }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
		  		<image x="0" y="0" height="{{ height }}" width="{{ width }}"  xlink:href="/{{ pres_dir }}/vortrag_{{ i }}.svg" />
		  </svg>
		</div >
		{% endfor %}
		<div class="car-slide"> 
	      <svg height="{{ height }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
		  		<image x="0" y="0" height="{{ height }}" width="{{ width }}"  xlink:href="/{{ pres_dir }}/vortrag_0.svg" />
		  </svg>
		</div >
	{% endif %}
	{% if order == 'notes' %}
   		{% for i in range (1, numPages, 2) %}
	    <div class="car-slide"> 
	      <svg height="{{ height }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
		  		<image x="0" y="0" height="{{ height }}" width="{{ width }}"  xlink:href="/{{ pres_dir }}/vortrag_{{ i }}.svg" />
		  </svg>
		</div >
		{% endfor %}
	{% endif %}
</div>